### Deep Dive into Operators

# Arithmetic Operators

* Addition
* Subtraction
* Multiplication
* Division
* Floor Division
* Modulus
* Exponentiation

In [1]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

## Comparison Operators

* Equal to
* Not equal to
* Greater than
* Less than
* Greater than or equal to
* Less than or equal to

In [2]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [3]:
str1="Rishi"
str2="Rishi"

str1==str2

True

In [4]:
## Not Equal to !=
str1!=str2

False

In [5]:
str3="Rishikesh"
str4="Rishikesh"

str3!=str4

False

In [8]:
# greater than >
num1=45
num2=55

num1>num2

False

In [9]:
## less than <

print('Less',num1<num2)

Less True

In [10]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [11]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

## Logical Operators
* AND
* OR
* NOT

In [12]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [13]:
X=False
Y=True

result = X and Y
print(result)

False

In [15]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [16]:
# Not operator
X=False
not X

True

In [18]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 100.0
Subtraction: 0.0
Multiplication: 2500.0
Division: 1.0
Floor Division: 1.0
Modulus: 0.0
Exponentiation: 8.881784197001252e+84