## Handling Imbalanced Dataset

## what is Imbalanced Dataset?

An imbalanced dataset refers to a situation in machine learning or statistics where the number of samples in different classes (categories) is not evenly distributed.

⚖️ Definition:

A dataset is imbalanced when one class (category) has significantly more samples than the others.

1. Up Sampling
* Upsampling means increasing the number of samples in the minority class so that it matches (or becomes closer to) the number of samples in the majority class.

2. Down Sampling
* Downsampling means reducing the number of samples in the majority class so that it matches the minority class.

In [4]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [6]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
DataFrame1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

DataFrame2 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [7]:
df=pd.concat([DataFrame1,DataFrame2]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [11]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
!pip install scikit-learn

^C

Requirement already satisfied: scikit-learn in f:\clg\data science\1-python\venv\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in f:\clg\data science\1-python\venv\lib\site-packages (from scikit-learn) (2.3.4)
Requirement already satisfied: scipy>=1.8.0 in f:\clg\data science\1-python\venv\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in f:\clg\data science\1-python\venv\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in f:\clg\data science\1-python\venv\lib\site-packages (from scikit-learn) (3.6.0)

In [13]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42 # any randonState value so that the seed is fixed.
        )

In [14]:
df_minority_upsampled.shape

(900, 3)

In [15]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [16]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [17]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [18]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

DataFrame1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

DataFrame2 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([DataFrame2, DataFrame2]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
1    200
Name: count, dtype: int64

In [19]:
df.head()

   feature_1  feature_2  target
0   1.699768   2.139033       1
1   1.367739   2.025577       1
2   1.795683   1.803557       1
3   2.213696   3.312255       1
4   3.033878   3.187417       1

In [20]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [21]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_minority,replace=False,
         n_samples=len(df_minority),
         random_state=42
        )

In [22]:
df_majority_downsampled.shape

(200, 3)

In [23]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [25]:
df_downsampled['target'].value_counts()

target
1    400
Name: count, dtype: int64